body, html{
    width: 100%;
    height: 100%;
    color: white;
    font-size: large;
}

.first-page{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    display: flex;
    flex-flow: column;
    margin: 0px 10px 8px -8px;
    height: 50%;
    width: 101%;
}

.menu-header{
    display: flex;
    width: 98%;
    height: 45%;
}

.division-ul{
    display: flex;
    justify-content: center;
    height: 0px;
}

.between-header{
    display: flex;
    width: 100%;
    height: 38%;
    flex-flow: column-reverse;
}

.after-header{
    display: flex;
    justify-content: space-between;
}

.ul-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

li{
    display: inline;
}

.medium-screen{
    display: flex;
    width: 98%;
    height: 50%;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.big-text{
    display: flex;
    width: 100%;
    justify-content: center;
}

.regular-text{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottom-screen{
    display: flex;
    width: 32%;
    justify-content: center;
    border: none;
    margin: 4px 2px;
    border-radius: 40px;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    cursor: pointer;
}

.second-page{ 
    background-image: linear-gradient(111.3deg, #4a69bb 9.6%, #cd4dcc 93.6%);
    color: white;
    margin: -8px 10px 0px -8px;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 101%;
}

.art-work{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.design{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.development{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.marketing{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.bi-play-fill{
    background-color: dodgerblue;
    border-radius: 46%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 16px;
    padding-top: 11px;
}