body, html{
    width: 100%;
    height: 100%;
    color: white;
    font-size: large;
}

.first-page{
    background-color: #7d0259;
    display: flex;
    flex-flow: column;
    margin: -8px 10px 8px -8px;
}

.menu-header{
    display: flex;
    width: 98%;
}

.division-ul{
    display: flex;
    justify-content: center;
    margin: -50px 10px 0px 10px;
}

.ul-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

li{
    display: inline;
}

.medium-screen{
    display: flex;
    width: 98%;
    height: 50%;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.big-text{
    display: flex;
    width: 100%;
    justify-content: center;
}

.regular-text{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottom-screen{
    display: flex;
    width: 32%;
    justify-content: center;
    border: none;
    margin: 4px 2px;
    border-radius: 40px;
    background-image: linear-gradient(111.3deg, #4a69bb 9.6%, #cd4dcc 93.6%);
    cursor: pointer;
}

.second-page{
    background-color: black;
    color: white;
    margin: -8px 10px 0px -8px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}