body, html{
    width: 100%;
    height: 110%;
    color: white;
    font-size: large;
}

.first-page{
    background-image: url("./unix-imgs/vr-headset.jpg");
    display: flex;
    flex-flow: column;
    margin: 0px 10px 8px -8px;
    height: 60.6%;
    width: 101%;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-header{
    display: flex;
    width: 98%;
    height: 45%;
}

.division-ul{
    display: flex;
    justify-content: center;
    height: 0px;
}

.between-header{
    display: flex;
    width: 100%;
    height: 38%;
    flex-flow: column-reverse;
}

.after-header{
    display: flex;
    justify-content: space-between;
}

.ul-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

li{
    display: inline;
}

.medium-screen{
    display: flex;
    width: 98%;
    height: 35%;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.big-text{
    display: flex;
    width: 100%;
    justify-content: center;
}

.regular-text{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottom-screen{
    display: flex;
    width: 32%;
    justify-content: center;
    border: none;
    margin: 4px 2px;
    border-radius: 40px;
    background-image: linear-gradient(111.3deg, #4a69bb 9.6%, #cd4dcc 93.6%);
    cursor: pointer;
}

.second-page{ 
    background-image: radial-gradient(circle, rgba(39,59,231,1) 0%, rgba(38,49,89,1) 100%) ;
    color: white;
    margin: -8px 10px 0px -8px;
    height: 38.6%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 101%;
}

.art-work{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.design{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.development{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.marketing{
    display: flex;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    height: 65%;
    width: 20%;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.bi-play-fill{
    background-color: dodgerblue;
    border-radius: 46%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 16px;
    padding-top: 11px;
}

.third-page{
    height: 60.6%;
    background-image: radial-gradient(circle, rgba(39,59,231,1) 0%, rgba(9,8,8,1) 82%);
    display: flex;
    width: 100%;
    text-align: center;
}

.third-inside{
    padding: 0% 15% 20% 15%;
    margin: 2% 0%;
    display: flex;
    flex-flow: column;
}

.third-top{
    display: flex;
    flex-flow: column;
}

.right-left{
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
}

.right-left-ul{
    display: flex;
    flex-flow: column;
    width: 70%;
    height: 74%;
    gap: 8px;
}